/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {

    text-align: center;
    background-color: gray;
}

img {
    width: 100px;
}

#hero {
    background-color: #93ce07;
    padding: 400px 30px;
    background-image: url("/Resources/harhoura.jpg");
    background-size: cover;
    margin-bottom: 0px;

}

#hero-title {

    background-color: #1D3557;
    color: whitesmoke;
    width: 20%;
    margin-left: auto;
    margin-right: auto;

}

#hero-msg {

    background-color: #1D3557;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #A8DADC;

}

#activity-section {
    background-color: rgb(203, 245, 66) ;
    margin-top: 0px;
    margin-bottom: 0px;

    padding: 10px;

  background-image: url("/Resources/galaxy.webp");
    background-size: cover;


}


#guide-section {
    background-color: rgb(87, 95, 19);
    margin-top: 0px;
    margin-bottom: 0px;
    padding:30px;
    border-bottom: 10px solid #694ac4;


}

.nav-Wrapper {
    display: flex;
    justify-content: center;
    /* center; start ,end ,space-between ,space-around*/
    align-items: center;
    
    padding: 10px;
}


.item {
    text-align: center;
    border: 2px solid white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    height: 400px;
     color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#item-park {
    background-color: rgb(200, 250, 250);
    background-image: url("images/park.jpg");
    background-size: cover;
     

}

#item-theatre {
    background-color: rgb(87, 95, 19);
    background-image: url("images/theatre.jpg");
    background-size: cover;

}

#item-sports {
    background-color: rgb(250, 250, 250);
    background-image: url("images/sports.jpg");
    background-size: cover;
   

}


.avatar {
    width: 400px;
}

.card {
    width: 1000px ;
    margin: 0  auto;
     
    
     
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    color: #2b2839;
   
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

#card-text {
    
    padding-left: 50px;
    text-align: left;
    color: aliceblue;

}

.border-blue {
    border: 1px dotted blue;
}